[Unit]
Description=PiViewer GitHub Auto Update timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=24h
Persistent=true
AccuracySec=5min
Unit=piviewer-github-update.service

[Install]
WantedBy=timers.target
